test.txt
text.txt
_build
SA_MCKP.png
SA_MCKP_10.png
SA_MCKP_15.png
SA_MCKP_17.png
SA_MCKP_20.png
SA_MCKP_5.png
result_10.txt
result_15.txt
result_17.txt
result_20.txt
result_5.txt
Dependencies/nix-pkgs/plplot/result
SA_MCKP.svg
